<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #3 - Use the same list display from search.html -->
<!--This is results of List/All -->


    <h2 th:text="${numberOfJobs+ ' Result(s)'}"></h2>

    <div  th:each="job : ${jobs}">

        <table class="job-listing">


            <tr th:each="eachjob : ${job}" >
                <td th:text="${eachjob.getKey()}"></td>
                <td th:text="${eachjob.getValue()}"></td>

            </tr>


        </table>


    </div>


</div>

</body>
</html>